<section class="acb-section" id="section-stats">
  <h2>{{localize "ACB.sections.stats"}}</h2>
  <div class="acb-field">
    <label>{{localize "ACB.fields.challengeRating.label"}}</label>
    <input type="text" data-field="stats.challenge.ratingText" value="{{blueprint.stats.challenge.ratingText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.challengeRating.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.levelText.label"}}</label>
    <input type="text" data-field="stats.challenge.levelText" value="{{blueprint.stats.challenge.levelText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.levelText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.acText.label"}}</label>
    <input type="text" data-field="stats.defenses.acText" value="{{blueprint.stats.defenses.acText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.acText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.hpText.label"}}</label>
    <input type="text" data-field="stats.defenses.hpText" value="{{blueprint.stats.defenses.hpText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.hpText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.movementText.label"}}</label>
    <input type="text" data-field="stats.movement.speedsText" value="{{blueprint.stats.movement.speedsText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.movementText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.sensesText.label"}}</label>
    <input type="text" data-field="stats.senses.sensesText" value="{{blueprint.stats.senses.sensesText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.sensesText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.languagesText.label"}}</label>
    <input type="text" data-field="stats.senses.languagesText" value="{{blueprint.stats.senses.languagesText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.languagesText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.resistancesText.label"}}</label>
    <input type="text" data-field="stats.defenses.resistancesText" value="{{blueprint.stats.defenses.resistancesText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.resistancesText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.immunitiesText.label"}}</label>
    <input type="text" data-field="stats.defenses.immunitiesText" value="{{blueprint.stats.defenses.immunitiesText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.immunitiesText.help"}}</p>{{/if}}
  </div>
  <div class="acb-field">
    <label>{{localize "ACB.fields.vulnerabilitiesText.label"}}</label>
    <input type="text" data-field="stats.defenses.vulnerabilitiesText" value="{{blueprint.stats.defenses.vulnerabilitiesText}}" />
    {{#if showHelp}}<p class="acb-help">{{localize "ACB.fields.vulnerabilitiesText.help"}}</p>{{/if}}
  </div>
</section>
